mixin nav()
	nav
		ul
			li 
				a 
					span жилая недвижимость
			li 
				a.active 
					span новостройки
			li 
				a 
					span переуступки
			li 
				a 
					span загородная недвижимость
			li 
				a 
					span ипотека
			li 
				a 
					span аренда
			li 
				a 
					span регионам
			li 
				a 
					span о компании
			li 
				a 
					span избранное (9)