mixin mainTextBlock()
	.mainTextBlock
		h4 не нашли подходящий вариант
		h4 мы работаем в единой городской базе аренды. обновление - каждые два часа
		p
			a.enterBase войти в городскую базу
		h3 или оставьте заявку и наши специалисты подберут вам нужный вариант в течениее 24 часов!
		p
			a.callbackButton оставить заявку
		h2 наши приемущества
		.whyBestBlock
			.whyBestItem.col33
				.itemImg
					img(src="images/ico11.png")
				.itemText
					h4 ЗАСЕЛЕНИЕ – В ДЕНЬ ОБРАЩЕНИЯ
					p Вам нужно жилье немендленно? Мы без труда подберем необходимую квартиру или комнату и уже вечером вы будете 
						span распаковывать вещи в новом доме.
			.whyBestItem.col33
				.itemImg
					img(src="images/ico12.png")
				.itemText
					h4 ОПЛАТА – ПОСЛЕ ЗАСЕЛЕНИЯ
					p И никаких фокусов! Вы оплачиваете сделку только после заключения договора и заселения. Наши агенты внимательно следят за добросовестностью арендодателей, мы никому 
						span не дадим Вас обмануть!
			.whyBestItem.col33
				.itemImg
					img(src="images/ico13.png")
				.itemText
					h4 КОНСУЛЬТАЦИЯ СО СПЕЦИАЛИСТОМ – БЕСПЛАТНО!
					p Консультация в нашем агентстве составляет 
						span 0 рублей и 0 копеек. 
						| Наш специалист абсолютно 
						span бесплатно 
						| проконсультирует Вас по всем вопросам, связанным с арендой жилья
			.whyBestItem.col33
				.itemImg
					img(src="images/ico14.png")
				.itemText
					h4 ИНДИВИДУАЛЬНЫЙ ПОДХОД
					p К каждому клиенту мы находим индивидуальный подход. Если у Вас есть 
						span особые требования 
						| к жилью, либо вы ограничены во времени, не сомневайтесь: все Ваши 
						span пожелания будут выполнены в полном объеме
			.whyBestItem.col33
				.itemImg
					img(src="images/ico15.png")
				.itemText
					h4 МЫ САМИ ЗАНИМАЕМСЯ ОФОРМЛЕНИЕМ СДЕЛКИ
					p Мы не бросаем на середине пути! Мы знаем, что для клиента важно не только наличие подходящего варианта, но и уверенность, легкость и быстрота заключения сделки с недвижимостью. Наши агенты помогут Вам заключить договор с арендодателем 
						span на выгодных Вам условиях!
			.whyBestItem.col33
				.itemImg
					img(src="images/ico16.png")
				.itemText
					h4 ТОЛЬКО САМЫЕ ПОЛНЫЕ И АКТУАЛЬНЫЕ БАЗЫ АРЕНДЫ КВАРТИР
					p Наши базы сдающегося в аренду жилья настолько полны, что нашим агентам даже неприлично ездить с ними в метро. Приезжайте к нам в офис и вся их 
						span полнота будет к вашим услугам.