mixin mainTextBlock()
	.mainTextBlock
		h2 почему мы лучше других?
		.whyBestBlock
			.whyBestItem
				.itemImg
					img(src="images/ico7.png")
				.itemText
					h4 МЫ РАБОТАЕМ БЕЗ КОМИССИИ
					p Комиссия в нашем агентстве 
						span 0%, 
						| что составляет 
						span 0 рублей и 0 копеек. 
						| Все затраты на поиск недвижимости мы берем на себя!
			.whyBestItem
				.itemImg
					img(src="images/ico9.png")
				.itemText
					h4 У НАС КВАЛИФИЦИРОВАННЫЕ СОТРУДНИКИ
					p Наши сотрудники прошли спецподготовку в  огне, земле и водоканале. С ними Вы будете как 
						span за каменной стеной.
			.whyBestItem
				.itemImg
					img(src="images/ico8.png")
				.itemText
					h4 У НАС ПОЛНАЯ БАЗА ОБЪЕКТОВ
					p Наша база настолько полна, что нашим агентам даже неприлично ездить с ней в метро. Приезжайте к нам в офис и вся ее 
						span полнота будет к вашим услугам.
			.whyBestItem
				.itemImg
					img(src="images/ico10.png")
				.itemText 
					h4 МЫ ОСУЩЕСТВЛЯЕМ ЮРИДИЧЕСКОЕ СОПРОВОЖДЕНИЕ
					p Да, мы и это делаем! Что бы ни случилось, мы всегда окажем вам своевременную юридическую помощь по сделкам с недвижимостью. Просто свяжитесь с нами и 
						span ваша проблема будет решена!
			.mainTextBlockContent
				h3 КАК ПРИОБРЕСТИ КВАРТИРУ В НОВОМ ДОМЕ: БЕЗ РИСКА, ВЫГОДНО И БЫСТРО?
				p День ото дня мы видим из окна личного автомобиля или общественного транспорта, как наш город становится ярче, красивее и даже «выше». Словно грибы после дождя в каждом микрорайоне вырастают новые дома, оригинальный дизайн которых, а также глянцевый блеск стеклопакетов буквально заставляют нас погрузиться в мечты о жизни в этих безупречных произведениях строительного искусства.
				p 
					span И в этот миг в голове появляется мысль:
				blockquote «Куплю квартиру в новом доме: просторную, светлую, комфортную! Прикоснусь к обновлённому Петербургу: такому величественному, стильному, красивому!»
				p Конечно, решение «куплю квартиру в новом доме» – не может быть спонтанным, ведь это шаг, который стоит делать с уверенностью. А, чтобы светлая мечта не стала жестоким разочарованием, «шагать вперед» необходимо, заручившись поддержкой профессионалов из компании «Азбука Недвижимости».
				a.readMore Подробнее...