mixin mainTextBlock()
	.mainTextBlock
		h2 почему мы лучше других?
		.whyBestBlock
			.whyBestItem
				.itemImg
					img(src="images/ico1.png")
				.itemText
					h4 оценка жилья
					p Хотите продать жилье? Мы поможем вас профессионально оценить квартиру или комнату. Будте уверены, с нами 
						span вы не продешевите!
			.whyBestItem
				.itemImg
					img(src="images/ico4.png")
				.itemText
					h4 огромный выбор объектов
					p Мы можем подобрать жилье под любой индивидуальный запрос. В нашей базе огромное количество квартир на вторичном рынке, среди который непременно найдется и полностью удовлетворяющий 
						span всем вашим пожеланиям.
			.whyBestItem
				.itemImg
					img(src="images/ico2.png")
				.itemText
					h4 военная ипотека
					p У нас есть специальные условия для военнослужащих. Мы знаем где самая выгодная военная ипотека, мы возьмем на себя 
						span все хлопоты с оформлением документов и подбора жилья
						| для служащих в Российской Армии.
			.whyBestItem
				.itemImg
					img(src="images/ico5.png")
				.itemText
					h4 расселение комуналок
					p Хотите приобрести собственное жилье в историческом центре, но не хотите самостоятельно заниматься расселением? Мы сделаем это за вас! Мы найдем каждому собственнику  вариант который удовлетворит его и вас! И в ближайшее время вы будет жить 
						span в собстенной квартире в историческом центре!
			.whyBestItem
				.itemImg
					img(src="images/ico3.png")
				.itemText
					h4 субсидии и сертификаты
					p У вас есть субсидии или сертификат на покупку жилья? Мы поможем купить вам квартиру используя ваши преимущества, мы знаем где 
						span выгоднее это сделать!
			.whyBestItem
				.itemImg
					img(src="images/ico6.png")
				.itemText
					h4 мы осуществляем юридическое сопровождение
					p Да, мы и это делаем! Что бы ни случилось, мы всегда окажем вам своевременную юридическую помощь по сделкам с недвижимостью. Просто свяжитесь с нами и 
						span ваша проблема будет решена!
			.mainTextBlockContent
				h3 КАК КУПИТЬ ИЛИ ПРОДАТЬ КВАРТИРУ В СПБ БЫСТРО И ПО ОПТИМАЛЬНОЙ СТОИМОСТИ?
				p Недвижимость Санкт-Петербурга и области весьма разнообразна, вниманию Клиентов представлены как современные квартиры-студии, так и роскошные двухэтажные апартаменты, уютные «двушки» или же и вовсе многокомнатные владения. С каждым днем число жилых домов в Северной Столице увеличивается, а значит, существенно расширяется и ассортимент объектов недвижимости на рынке.
				blockquote Как не потеряться среди всего разнообразия? У кого можно безопасно купить недвижимость в Петербурге? Где искать жилье  по оптимальной стоимости?
				p Эти вопросы являются наиболее острыми для каждого человека, которого интересует покупка недвижимости в Петербурге. И вполне логично, что уточнить все интересующие нюансы, получить достоверную информацию и успешно купить недвижимость в Петербурге можно лишь заручившись поддержкой опытных специалистов.
				a.readMore Подробнее...