mixin scripts()
	script(src='js/jquery.min.js')
	script(src='js/jquery-ui.min.js')
	script(src='js/tabsLight.js')
	script(src='js/owl.carousel.min.js')
	script(src='js/jQueryFormStyler.min.js')
	script(src='js/jquery.silver_track.js')
	script(src='js/plugins/jquery.silver_track.navigator.js')
	script(src='js/scripts.js')