include ../mainPageSlider/mainPageSlider.pug
include ../newsBlock/newsBlock.pug
include ../legalQuestions/legalQuestions.pug
include ../reviews/reviews.pug
include ../leftmenu/leftmenu.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.leftColumn
				+leftMenu()
			.mainColumn
				.pageAboutCompany
					h1 о компании
					img(src='images/aboutCompany.png')
					h4 Общество с ограниченной ответственностью «АЗБУКА НЕДВИЖИМОСТИ» основано в марте 2009 года.
					p АН «АЗБУКА НЕДВИЖИМОСТИ» является действительным членом Ассоциации Риэлторов Санкт-Петербурга и Ленинградской области, действительным членом Российской Гильдии Риэлторов.   Агентство имеет сертификат соответствия требованиям Национального стандарта  СТО РГР 021.01-02  «Риэлторская деятельность. Услуги брокерские на рынке недвижимости» № РОСС RU РГР ОС 78.0086.
					p Все сотрудники компании аттестованы по программе соответствующей требованиям Национального стандарта
					p Профессиональная ответственность Компании перед покупателями застрахована. 
					p Генеральный директор Грачева Светлана Михайловна является членом Комиссии по правам потребителей и профессиональной этике Ассоциации риэлторов Санкт-Петербурга (АРСП). 
					p Наша компания является финалистом  Общественного конкурса «Доверие потребителя» в номинации «риэлторское агентство»,  пользующееся наибольшим доверием потребителей на рынке недвижимости Санкт-Петербурга. 
					p АН « Азбука Недвижимости»  также является победителем межрегионального ежегодного общественного конкурса в сфере недвижимости «Каисса-2014», «Каисса -2015», «Каисса-2016»
					p В Компании разработан и строго соблюдается четкий регламент проведения сделки, дающий нам возможность обеспечить максимальную безопасность для наших Клиентов. 
					p Все сотрудники Компании могут провести сделку любой сложности с использованием любой государственной жилищной программы, материнского капитала, военной ипотеки.  
					p Наш дружный коллектив это  команда художников в своем деле, относящихся к своей работе как к искусству, и прилагающих все силы, чтобы понятие «Риэлтор» отождествлялось с порядочностью и профессионализмом. 
