include ../formCalculation/formCalculation.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				h2 продать квартиру
				.saleForm
					+formSale()
				.saleTextBlock
					p Компания «Азбука недвижимости» поможет продать квартиру.
					p Продавая квартиру, Вы в первую очередь сталкиваетесь с вопросом стоимости жилья. Только опытный специалист поможет Вам в кратчайшие сроки определить стоимость квартиры с учетом срока реализации, конъюнктуры рынка, затрат на документацию.
					p Получить предварительную оценку стоимости квартиры Вы можете, оформив заявку на нашем сайте. Укажите параметры Вашей квартиры и контактный телефон в приведенной ниже форме, и наши специалисты свяжутся с Вами в ближайшее время.
					p 
						b Данная форма поможет Вам сделать следующий шаг! 
					ul
						li 
							span Вы хотите ОЦЕНИТЬ или ПРОДАТЬ квартиру/комнату/дом/участок? Пришлите нам его описание! 
						li 
							span Вы определились с квартирой? Отлично! Успейте ЗАБРОНИРОВАТЬ ее до подорожания! 
						li 
							span Не можете выбрать между несколькими вариантами? Узнайте мнение наших экспертов! 
						li 
							span Не нашли интересующего варианта на нашем сайте? Просто оставьте заявку, и наши специалисты сделают это за Вас в кратчайшие сроки! 
						li 
							span У Вас остались вопросы? Мы с радостью ответим на них, просто напишите нам или закажите обратный звонок!
					p 
						b Внимание: Мы не рассылаем спам!					
