include ../historyBack/historyBack.pug
include ../flatBlock/flatBlock.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				+historyBack('ЖК «СЕВЕРНАЯ ПАЛИТРА»','цена от застройщика')
				+flatBlock()
				.aboutTextBlock
					.aboutTextImg
						img(src="images/complex-pic.png")
					.aboutTextContent
						h5 ЖИЛОЙ КОМПЛЕКС КОМФОРТ-КЛАССА, РАСПОЛАГАЮЩИЙСЯ В ПЕШЕЙ ДОСТУПНОСТИ ОТ МЕТРО ДЕВЯТКИНО.
						p В основе планирования территории квартала лежит широкий пешеходный бульвар, по всей длине которого разместятся детские игровые площадки, спортивные площадки, скверы, цветники и газоны, а расположенный на территории квартала детский сад, сделает жизнь молодых семей еще более комфортной. 
						p На территории «Северной Палитры» будут размещены следующие объекты инфраструктуры:
						ul
							li дошкольное учреждение на 100 мест;
							li встроенная районная библиотека;
							li продуктовый магазин;
							li помещения служб быта.
						p Во дворах обустраиваются детские игровые площадки и спортивные зоны. Организованы гостевые парковки. Проводится озеленение.
				.contactMap
					img(src='images/map.png')