include ../mainPageSlider/mainPageSlider.pug
include ../filterCalc/filterCalc.pug
include ../newsBlock/newsBlock.pug
include ../legalQuestions/legalQuestions.pug
include ../specialOffersBlock/specialOffersBlock.pug
include ../reviews/reviews.pug
include ../mainTextBlock/mainTextBlock2.pug

mixin page-content()
	section.page-content
		.slidermainPage
			.tabs#mainPageTabs
				ul
					li 
						a(href="#tabs1") Подбор квартиры в новостройке
					li.slideTabs
						a(href="#tabs2") распродажа
					li.slideTabs 
						a(href="#tabs3") готовые подборки
				div
					div.tabsItem#tabs1
						+filterMainNew()
					div.tabsItem#tabs2.slideTabs
						+mainPageSlider()
					div.tabsItem#tabs3.slideTabs
						+mainPageSlider()
		.pageContentWrap
			.mainColumn
				h1 спецпредложения
				.tabs#specialOffersTabs
					ul
						li 
							a(href="#tabsSpec1") Лучшая цена
						li 
							a(href="#tabsSpec2") на севере
						li 
							a(href="#tabsSpec3") на юге
						li 
							a(href="#tabsSpec4") у метро
					div
						div.tabsItem#tabsSpec1
							+specialOffersBlock(9)
						div.tabsItem#tabsSpec2
							| 2
						div.tabsItem#tabsSpec3
							+specialOffersBlock(9)
						div.tabsItem#tabsSpec4
							+specialOffersBlock(9)
				+mainTextBlock()
			.rightColumn
				.accordion
					h4 новости
					.accordionItem
						+newsBlock()
				.accordion
					h4 правовые вопросы
					.accordionItem
						+legalQuestions()
				.accordion
					h4 история компании
					.accordionItem
						| test
				h4
					a наша команда
				.accordion
					h4 отзывы
					.accordionItem
						+reviews()
				.accordion
					h4 контакты
					.accordionItem
						| test
				.accordion
					h4 благотворительность
					.accordionItem
						| test