include ../mainPageSlider/mainPageSlider.pug
include ../newsBlock/newsBlock.pug
include ../legalQuestions/legalQuestions.pug
include ../reviews/reviews.pug
include ../leftmenu/leftmenu.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.leftColumn
				+leftMenu()
			.mainColumn
				.pageAboutJob
					h1 вакансии
					.accordion
						h4 
							span агент в отдел аренды
						.accardionItem
							p Требования:
							ul
								li 
									span Опыт работы в сфере недвижимости желателен;
								li 
									span Хорошее знание ПК;
								li 
									span Высокая степень самоорганизации;
								li 
									span Возраст - от 23 лет;
								li 
									span Нацеленность на результат.
							p Обязанности:
							ul
								li 
									span Консультирование по вопросам приобретения квартир в строящихся объектах недвижимости;
								li 
									span Консультирование по вопросам инвестирования;
								li 
									span Ведение переговоров;
								li 
									span Организация просмотров;
								li 
									span Заключение договоров;
								li 
									span Представительство на тематических выставках и семинарах;
								li 
									span Отчетность.
							p Условия:
							ul
								li 
									span Высокий % от сделок, хороший мотивационный пакет;
								li 
									span Для успешных кандидатов - Бесплатное корпоративное обучение;
								li 
									span Рекламная и юридическая поддержка;
								li 
									span Социальный пакет, корпоративный отдых;
								li 
									span Гибкий график.
						h4 
							span агент в отдел вторичного жилья
						.accardionItem
							p Требования:
							ul
								li 
									span Опыт работы в сфере недвижимости желателен;
								li 
									span Хорошее знание ПК;
								li 
									span Высокая степень самоорганизации;
								li 
									span Возраст - от 23 лет;
								li 
									span Нацеленность на результат.
							p Обязанности:
							ul
								li 
									span Консультирование по вопросам приобретения квартир в строящихся объектах недвижимости;
								li 
									span Консультирование по вопросам инвестирования;
								li 
									span Ведение переговоров;
								li 
									span Организация просмотров;
								li 
									span Заключение договоров;
								li 
									span Представительство на тематических выставках и семинарах;
								li 
									span Отчетность.
							p Условия:
							ul
								li 
									span Высокий % от сделок, хороший мотивационный пакет;
								li 
									span Для успешных кандидатов - Бесплатное корпоративное обучение;
								li 
									span Рекламная и юридическая поддержка;
								li 
									span Социальный пакет, корпоративный отдых;
								li 
									span Гибкий график.
						h4 
							span менеджер в отдел вторичного жилья
						.accardionItem
							p Требования:
							ul
								li 
									span Опыт работы в сфере недвижимости желателен;
								li 
									span Хорошее знание ПК;
								li 
									span Высокая степень самоорганизации;
								li 
									span Возраст - от 23 лет;
								li 
									span Нацеленность на результат.
							p Обязанности:
							ul
								li 
									span Консультирование по вопросам приобретения квартир в строящихся объектах недвижимости;
								li 
									span Консультирование по вопросам инвестирования;
								li 
									span Ведение переговоров;
								li 
									span Организация просмотров;
								li 
									span Заключение договоров;
								li 
									span Представительство на тематических выставках и семинарах;
								li 
									span Отчетность.
							p Условия:
							ul
								li 
									span Высокий % от сделок, хороший мотивационный пакет;
								li 
									span Для успешных кандидатов - Бесплатное корпоративное обучение;
								li 
									span Рекламная и юридическая поддержка;
								li 
									span Социальный пакет, корпоративный отдых;
								li 
									span Гибкий график.
