include ../filterCalc/filterCalc.pug
include ../specialOffersBlock/specialOffersBlock.pug
include ../formCalculation/formCalculation.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				h1 расчет по ипотеке
				h3 Калькулятор, исходя из оптимальных для Вас условий, определит максимально возможную сумму кредита и предложит Вам все подходящие варианты.
				.filterWrap
					+filterCalculation()
					.callbackBlock
						a.callbackPhone 
							img(src="images/callBackPhone.png")
							| Заказать обратный звонок
						a.callbackPhone2
							img(src="images/callBackPhone2.png")
							| Сделать заявку на подбор жилья
				.calcTextWrap
					h4 предварительные результаты расчета
					p Обратите внимание, что результаты поиска разделены по горизонтали в зависимости от срока кредитования (10, 15 и 20 лет), по вертикали – в зависимости от количества комнат в квартире.
					p Изменяя размер первоначального взноса и величину комфортного для Вас ежемесячного платежа, Вы сможете самостоятельно сориентироваться в текущей ценовой ситуации на рынке и, возможно, скорректировать свои планы в пользу квартир большего метража.
					p Если у Вас остались вопросы, либо Вас интересует подробный план дальнейших действий для получения ипотечного кредита, оставьте Заявку либо позвоните нам по телефону 8 (812) 331-71-77, наши специалисты свяжутся с Вами в кратчайшие сроки!
					p Напоминаем, что все наши услуги по поиску и покупке квартир в новостройках для Вас бесплатны!
				+specialOffersBlock(36)
				+formCalculation('Оставьте заявку на расчет ипотеки')