include ../historyBack/historyBack.pug
include ../flatBlock/flatBlock.pug
include ../verticalSlider/verticalSlider.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				+historyBack('ЖК «СЕВЕРНАЯ ПАЛИТРА»','цена от застройщика')
				.vacHomeBlock
					.vacHomeWrap
						.vachomeImage
							img(src="images/vacHomeMainPic.png")
						.owl-carousel.vacHomeSlider#vacHomeSlider
							- for(x=0;x<9;x++)
								.item
									img(src="images/objectSlide1.png")
						.vacmap
							img(src="images/vacMap.png")
					.vacHomeText
						.flatTable
							table
								tbody
									tr
										td Адрес:
										td Ленинградская область,
											br
											| Ломоносовский район,
											br
											| д. Кемпелево
									tr
										td Статус земли:
										td Садоводство
									tr
										td Площадь участка
										td 6 соток
									tr
										td Площадь дома
										td 60,7 м
											sup 2
									tr
										td(colspan="2")
											hr
									tr
										td Этажей:
										td 2
									tr
										td Электричество/
											br
											| Газ
										td Электричество
									tr
										td Удобства
										td Санузел БИО
									tr
										td(colspan="2")
											hr
									tr
										td Агент
										td Лоос Любовь Михайловна
											br
											b 8(921)555-02-01
									tr
										td Стоимость
										td.price 2 895 000 руб.
									tr
										td(colspan="2")
											a.defaultButton сделать заявку
									tr
										td(colspan="2")
											a.tableButton Отправить на почту
											a.tableButton Распечатать
							h2 дополнительная информация
							p Небольшой уютный коттедж 2015 г.п. в живописном месте Ленинградской области всего в 20км от Санкт-Петербурга и 10км от Красного Села (рядом поселки Аннино и Ропша). 
							p Дом строился для себя, под ежедневным контролем. Типовой проект улучшен - в частности, утеплены внутренние перегородки, поставлены деревянные стеклопакеты. Поменялись обстоятельства и приходится продавать как есть - не успели подвести коммуникации. Все возможности для организации электрического отопления, скважины, сан.узла в доме предусмотрены. 
							p В соседнем поселке (Яльгелево) есть газ, в следующем году будет и здесь. Также запланирована автобусная остановка на въезде в садоводство (100м от участка). 
							p Хороший, ровный и сухой участок в 6 соток. Расположен на возвышенности, с которой открывается прекрасный вид на окрестности. Дорога почти до самого участка асфальтовая. Небольшая часть пути - хорошая грунтовая. Инфраструктура этого района быстро развивается в сторону развлечений и улучшения жилищных условий. 
							p В 10 мин. езды находится конно-спортивный клуб Вестерн-Хорс, несколько пейнтбольных клубов, страусиная ферма. В 6км ропшинские пруды и дворцово-парковый ансамбль. Полчаса езды до Туутари-парка и аэродрома «Гостилицы». 
							p Приобретите себе возможность дышать каждый день свежим воздухом и наслаждаться красотой природы, не сильно отдаляясь от благ цивилизации.
			.rightColumn
				.likeHouse
					h3 Вам нравится этот дом?
					p Тогда успейте забронировать квартиру до подорожания! 
					p 
						span Не нашли подходящий вариант? 
					p Оставьте заявку, и наши специалисты 
						span БЕСПЛАТНО 
						| сделают это за Вас!
					a.defaultButton оставьте заявку
				+verticalSlider1()