include ../historyBack/historyBack.pug
include ../flatBlock/flatBlock.pug
include ../verticalSlider/verticalSlider.pug
include ../filterCalc/filterCalc.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				+historyBack('ЖК «СЕВЕРНАЯ ПАЛИТРА»','цена от застройщика')
				.objectBlock
					.owl-carousel.objectSlider#objectSlider
						- for(x=0;x<9;x++)
							.item
								img(src="images/objectSlide1.png")
					.objectText
						.flatTable
							table
								tbody
									tr
										td Район:
										td Всеволожский (Лен обл)
									tr
										td Метро:
										td Девяткино
									tr
										td Адрес:
										td п.Мурино
									tr
										td(colspan="2")
											hr
									tr
										td Срок сдачи:
										td 1 очередь - IV квартал 2016
											br
											| 2 очередь - I квартал 2017
									tr
										td Тип здания:
										td Монолит
									tr
										td Этажность:
										td 8-25
									tr
										td(colspan="2")
											hr
									tr
										td В продаже:
										td Студия; 1-к кв; 2-к кв; 3-к кв; 4-к кв
									tr
										td Площадь:
										td 22.94-97.9 м
											sup 2
									tr
										td Отделка:
										td с отделкой и без
									tr
										td Цена:
										td 1 932 000 - 12 269 000 руб
									tr
										td(colspan="2")
											hr
									tr
										td Оплата:
										td Ипотека
									tr
										td Договор:
										td 214 ФЗ
				ul.icoBlock
					li
						img(src="images/otdelka-big.png")
						| Отделка
					li
						img(src="images/214-big.png")
						| 214 ФЗ
					li
						img(src="images/ipoteka-big.png")
						| Ипотека
				.objectTabs
					ul
						li 
							a(href="#tabs1") описание
						li 
							a(href="#tabs2") квартиры и цены
						li 
							a(href="#tabs3") условия покупки
						li 
							a(href="#tabs4") объект на карте
					div.tabsItems
						.tabsItem#tabs1
							h4 ЖИЛОЙ КОМПЛЕКС КОМФОРТ-КЛАССА, РАСПОЛАГАЮЩИЙСЯ В ПЕШЕЙ ДОСТУПНОСТИ ОТ МЕТРО ДЕВЯТКИНО.
							p В основе планирования территории квартала лежит широкий пешеходный бульвар, по всей длине которого разместятся детские игровые площадки, спортивные площадки, скверы, цветники и газоны, а расположенный на территории квартала детский сад, сделает жизнь молодых семей еще более комфортной. 
							h5 На территории «Северной Палитры» будут размещены следующие объекты инфраструктуры:
							ul
								li дошкольное учреждение на 100 мест;
								li встроенная районная библиотека;
								li продуктовый магазин;
								li помещения служб быта.
							p Во дворах обустраиваются детские игровые площадки и спортивные зоны. Организованы гостевые парковки. Проводится озеленение.
						.tabsItem#tabs2
							.objectPriceTable
								+filterObjectnew()
								table
									thead
										tr
											th Тип квартиры
											th Общая площадь, м
												sup 2
											th Площадь кухни, м
												sup 2
											th Планировка
											th Стоимость, руб.
											th В избранное
									tbody
										- for (x=0;x<6;x++)
											tr
												td.type 1-комн.
												td.area 26.8
												td.areaKitchen 5
												td.plan 
													img(src="images/plan2.png")
												td.price 1 569 000
												td.toFavorite 
													a
							.objectCallbackBlock
								p.line1 НЕ НАШЛИ ПОДХОДЯЩИЙ ВАРИАНТ, но Вам нравится этот дом? 
								p.line2 Оставьте заявку, и наши специалисты 
									span БЕСПЛАТНО 
									| подберут для Вас подходящие варианты!
								p
									a.defaultButton оставить заявку
						.tabsItem#tabs3
							p Бронь ставится на 2 рабочих дня (включая день бронирования) с возможностью продления, но без сохранения стоимости и условий. Бронь бесплатная.
							p Осуществляется по скану паспорта клиента (2-3 стр. + прописка)
							p Оплата договора происходит путем открытия аккредитива в банке Санкт-Петербург, либо в банке кредитора в тот же день (при ипотеке) или в течение 5 дней после договора (при 100% оплате).
							p 1 – госпошлина (175 р. на каждого дольщика)
							p 2 - комиссия за открытие аккредитива
							p 3 - нотариальных документах (около 2500 руб.) - доверенность на представителей застройщика, нотариальное согласие супруга (супруги или супруга)  или нотариальное заявление об отсутствии брака
							p 
								b Нотариальные документы и квитанцию об оплате госпошлины клиент приносит сразу на договор! 
						.tabsItem#tabs4
							.contactMap
								img(src='images/map.png')
			.rightColumn
				.calcBlock
					h2 рассчитать ипотеку
					form
						label Стоимость квартиры
						.formGroup
							input.price
							p руб.
						label Первоночальный взнос
						.formGroup
							input.firstPay
							p руб.
						label Срок кредитования
						.formGroup
							input.age
							p лет
						label Годовая процентная ставка
						.formGroup
							input.percent
							p %
						button(type="submit") рассчитать
					.result
						p Ежемесячный платеж составит
						p 
							span 18 235 руб.
				.likeHouse
					h3 Вам нравится этот дом?
					p Тогда успейте забронировать квартиру до подорожания! 
					p 
						span Не нашли подходящий вариант? 
					p Оставьте заявку, и наши специалисты 
						span БЕСПЛАТНО 
						| сделают это за Вас!
					a.defaultButton оставьте заявку
				+verticalSlider1()