include ../mainPageSlider/mainPageSlider.pug
include ../newsBlock/newsBlock.pug
include ../legalQuestions/legalQuestions.pug
include ../specialOffersBlock/specialOffersBlock.pug
include ../reviews/reviews.pug

mixin page-content()
	section.page-content
		+mainPageSlider()
		.pageContentWrap
			.mainColumn
				h1 спецпредложения
				.tabs#specialOffersTabs
					ul
						li Лучшая цена
						li на севере
						li на юге
						li у метро
					div
						div.tabsItem
							+specialOffersBlock(9)
						div.tabsItem
							+specialOffersBlock(9)
						div.tabsItem
							+specialOffersBlock(9)
						div.tabsItem
							+specialOffersBlock(9)
			.rightColumn
				+newsBlock()
				+legalQuestions()
				a история компании
				a наша команда
				+reviews()
				a контакты
				a благотворительность