include ../mainTextBlock/mainTextBlock3.pug

mixin page-content()
	section.page-content
		.pageContentWrap
			.mainColumn
				h1 Аренда недвижимости
				p Поможем снять или сдать квартиру, комнату в Санкт-Петербурге или Ленинградской области 
				.row
					.attentionBlock
						h4 внимание
						p Будьте внимательны при подборе вариантов аренды жилья. Без сопровождения профессионального агентства возможны случаи мошенничества.
					.callbackRentBlock
						h5 Хотите сдать квартиру или комнату?
						p Оставьте заявку и наши специалисты свяжутся с Вами для уточнения деталей
						a.callback оставить 
				.rentTable
					h4 наши эксклюзивные предложения
					table
						thead
							tr
								th 
								th 
									a Количество комнат
								th 
									a Метро мин. пешком
								th 
									a Общая площадь, м
										sup 2
								th 
									a Стоимость руб/мес.
								th 
									a Примечание
						tbody
							- for (var x = 0; x < 15; x++)
								tr
									td.image
										img(src="images/rentPic1.png")
									td Комната
										br 
										| в 2-х комнатной квартире
									td.address 
										span.address.violet
										| Комендантский проспект
										br
										| пр. Народного Ополчения, 167 к. 21
									td 26,8
									td.price 12 000
									td.desc
										p От собственника!!!
										p Удивительно уютная, светлая, заряженная энергией квартира-студия со спальной зоной на 2 этаже!!!!
										p Расположение - ул.Марата,26
										p в 5 мин.хотьбы от м.Маяковская и Невского пр., в 3 мин. от м.Владимирская/Достоевская
										p В студии есть всё, что необходимо для жизни 1-2 человек!! Свежайший евро-ремонт, кухня, индукционная (безопасная) плита, стиральная машина, холодильник, кулер с водой, микроволновка, кофеварка, чайник и утюг!! Мебель вся новая - икея, рулонные шторы и интерьерные шторы! 
				+mainTextBlock()