include ../mainPageSlider/mainPageSlider.pug
include ../filterCalc/filterCalc.pug
include ../newsBlock/newsBlock.pug
include ../legalQuestions/legalQuestions.pug
include ../specialOffersBlock/specialOffersBlock.pug
include ../reviews/reviews.pug
include ../mainTextBlock/mainTextBlock.pug

mixin page-content()
	section.page-content
		.slidermainPage
			.tabs#mainPageTabs
				ul
					li 
						a(href="#tabs1") Подбор загородной недвижимости
					li.slideTabs
						a(href="#tabs2") готовые подборки
				div
					div.tabsItem#tabs1
						+filterResidential()
					div.tabsItem#tabs2.slideTabs
						+mainPageSlider()
		.pageContentWrap
			.mainColumn
				h1 спецпредложения
				.tabs#specialOffersTabs
					ul
						li 
							a(href="#tabsSpec1") Лучшая цена
						li 
							a(href="#tabsSpec2") Участки
						li 
							a(href="#tabsSpec3") дома
					div
						div.tabsItem#tabsSpec1
							+specialOffersBlock(9)
						div.tabsItem#tabsSpec2
							| 2
						div.tabsItem#tabsSpec3
							+specialOffersBlock(9)
				h3 КУПЛЯ-ПРОДАЖА КВАРТИР В НОВОСТРОЙКАХ И ГОТОВЫХ ДОМАХ, АРЕНДА КВАРТИР, КОМНАТ, ОФИСОВ, ИНВЕСТИЦИИ В НЕДВИЖИМОСТЬ. ВСЯ НЕДВИЖИМОСТЬ САНКТ-ПЕТЕРБУРГА – АГЕНТСТВО НЕДВИЖИМОСТИ «АЗБУКА НЕДВИЖИМОСТИ»
				p Специалисты нашей Компании являются настоящими профессионалами своего дела, поэтому все предложения, приведенные в разделе "Загородная недвижимость", продаются по эксклюзивным договорам с ее владельцами, что позволяет быстрее и эффективнее организовать сделку, обеспечивает высокий уровень ее безопасности как для продавца, так и для покупателя. Приобретая участок, дом, либо коттедж из нашей базы загородной недвижимости, Вы можете быть уверены, что данные объекты больше не продаются нигде, что данные объекты прошли обязательную проверку юридической службы и обладают высочайшим уровнем честности и надежности сделки.
				p В карточке каждого объекта недвижимости на нашем сайте Вы найдете контактный телефон агента, владеющего полной информацией об объекте, осуществляющего его показ и проведение сделки купли-продажи.
			.rightColumn
				.accordion
					h4 новости
					.accordionItem
						+newsBlock()
				.accordion
					h4 правовые вопросы
					.accordionItem
						+legalQuestions()
				.accordion
					h4 история компании
					.accordionItem
						| test
				.accordion
					h4 отзывы
					.accordionItem
						+reviews()
				.accordion
					h4 контакты
					.accordionItem
						| test
				.accordion
					h4 благотворительность
					.accordionItem
						| test