mixin reviews()
	.reviewsBlock
		a правовые вопросы
		- for (var x = 0; x < 3; x++) 
				.reviewsItem
					span.date 28 Января
					p 
						b Вопрос
						| Унаследовали с братом квартиру по ½ доли каждому. В этой квартире я не проживаю и проживать не собираюсь. Хочу продать свою долю. Может ли брат препятствовать продаже?
						b Ответ
						| Вы можете продать свою долю в квартире. Для этого Вам...
		p 
			a.viewAll смотреть все