include templates/head/head.pug
include templates/header/header.pug
include templates/page-content/page-content-secondarymain.pug
include templates/footer/footer.pug
include templates/scripts/scripts.pug

doctype html

+head()

body
	div.wrapper
		+header()
		+page-content()
		+footer()
		+scripts()
