mixin mainPageSlider()
	.owl-carousel.sliderMainPageBody#sliderMainPageBody1
		.item
			.slideDesc
				p.offerName таунхаус 156 м
					sub 2
				p.offerHead Коттеджный поселок "Зеленая радость"
				p.offerText 25 километр Колтушинского шоссе. Ипотека, рассрочка, 215 ФЗ, субсидии
				p.offerPrice
					|	от 
					span 2,56
					| млн.р.
			img(src='images/slide1.png')
		.item
			.slideDesc
				p.offerName таунхаус 156 м
					sub 2
				p.offerHead Коттеджный поселок "Зеленая радость"
				p.offerText 25 километр Колтушинского шоссе. Ипотека, рассрочка, 215 ФЗ, субсидии
				p.offerPrice
					|	от 
					span 2,56
					| млн.р.
			img(src='images/slide2.png')
		.item
			.slideDesc
				p.offerName таунхаус 156 м
					sub 2
				p.offerHead Коттеджный поселок "Зеленая радость"
				p.offerText 25 километр Колтушинского шоссе. Ипотека, рассрочка, 215 ФЗ, субсидии
				p.offerPrice
					|	от 
					span 2,56
					| млн.р.
			img(src='images/slide3.png')
