mixin mainPageSlider()
	.slidermainPage
		.tabs
			ul
				li Подбор квартиры в новостройке
				li распродажа
				li готовые подборки
			div
				div
					.owl-carousel.sliderMainPageBody#sliderMainPageBody1
						.item
							img(src='images/slide1.png')
						.item
							img(src='images/slide2.png')
						.item
							img(src='images/slide3.png')
				div
					.owl-carousel.sliderMainPageBody#sliderMainPageBody2
						.item
							img(src='images/slide1.png')
						.item
							img(src='images/slide2.png')
						.item
							img(src='images/slide3.png')
				div
					.owl-carousel.sliderMainPageBody#sliderMainPageBody3
						.item
							img(src='images/slide1.png')
						.item
							img(src='images/slide2.png')
						.item
							img(src='images/slide3.png')
