mixin contactInfoBlock()
	.contactInfoBlock
		.logo
			img(src='images/logo.png')
		.address
			p.addressText 198216, Санкт-Петербург,
				br 
				img(src='images/metro.png')
				| Ленинский проспект бульвар Новаторов, д.11 Ежедневно с 10:00 до 21:00
		.phone
			p.phoneText
				img(src='images/phone-sign.png')
				span (812)
				| 331-71-77
			p.mail
				img(src='images/mail-sign.png')
				span an@azbuka-ned.ru
		.callback
			p
				a.callbackButton оставить заявку