mixin leftMenu()
	ul.leftMenu
		li 
			a о компании
		li 
			a наша команда
		li 
			a.active вакансии
		li 
			a контакты
		li 
			a благотворительность
		li 
			a новости
		li 
			a правовые вопросы
		li 
			a статьи
		li 
			a отзывы