mixin footerBigMenu()
	ul.footerbigMenu
		li
			p Лидеры спроса
			ul
				li 
					a Готовые новостройки
				li 
					a Квартиры-студии
				li 
					a Новостройки у метро
				li 
					a Новостройки с отделкой
				li 
					a Квартиры до 2 млн. руб
				li 
					a Квартиры-студии
				li 
					a Новостройки у метро
				li 
					a Новостройки с отделкой
		li
			p Жилая недвижимость
			ul
				li 
					a Продажа комнат
				li 
					a 1к квартиры до 4 млн руб
				li 
					a Квартиры в домах с кап. ремнотом
				li 
					a Дома после 2000 года постройки
				li 
					a Квартиры на 1 этаже
				li 
					a 1к квартиры до 4 млн руб
				li 
					a Квартиры в домах с кап. ремнотом
				li 
					a Дома после 2000 года постройки
		li
			p Аренда
			ul
				li 
					a Квартиры и комнаты с центре
				li 
					a Квартиры сдаются впервые
				li 
					a Квартиры на длительный срок
				li 
					a Квартиры сдаются впервые
				li 
					a Квартиры на длительный срок
		li
			p Загородная
			ul
				li 
					a Дома
				li 
					a Таунхаузы
				li 
					a Коттеджные поселки
				li 
					a Таунхаузы
				li 
					a Коттеджные поселки
