include ../navigation/navigation.pug
mixin header()
	header
		+nav()
		+contactInfoBlock()
		.headerDescription
			p ВСЯ НЕДВИЖИМОСТЬ ПЕТЕРБУРГА: ПОМОЖЕМ КУПИТЬ, ПРОДАТЬ КВАРТИРУ В НОВОСТРОЙКЕ, КУПИТЬ-ПРОДАТЬ ВТОРИЧНОЕ ЖИЛЬЕ, СДАТЬ-СНЯТЬ КВАРТИРУ, КОМНАТУ