mixin listBlockButton()
	.listBlockButton
		p не нашли подходящий вариант?
		p ПОПРОБУЙТЕ ПОИСКАТЬ СРЕДИ ПЕРЕУСТУПОК ИЛИ СТРОЯЩЕГОСЯ ЖИЛЬЯ, ЛИБО ОСТАВЬТЕ ЗАЯВКУ, НАШИ СПЕЦИАЛИСТЫ СДЕЛАЮТ ЭТО ЗА ВАС!
		.listButton
			a.defaultButton посмотреть все новостройки
			a.defaultButton посмотреть переуступки
			a.callbackButton оставить заявку