mixin head()
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=1260, initial-scale=1.0")
		meta(name='Keywords' lang='ru' content='')
		meta(name='Description' lang='ru' content='')
		link(rel='author' href='phantomkemerovo@mail.ru')
		title Заголовок страницы
		link(rel='stylesheet' href='css/normolize.min.css')
		link(rel='stylesheet' href='css/reset.min.css')
		link(rel='stylesheet' href='css/media.min.css')
		link(rel='stylesheet' href='css/styles.min.css')