mixin head()
	head
		meta(charset='utf-8')
		meta(name="viewport" content="width=1260, initial-scale=1.0")
		meta(name='Keywords' lang='ru' content='')
		meta(name='Description' lang='ru' content='')
		link(rel='author' href='phantomkemerovo@mail.ru')
		title Заголовок страницы
		link(rel='stylesheet' href='css/normolize.css')
		link(rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css")
		link(rel="stylesheet" href="css/jQueryFormStyler.css")
		link(rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		//- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		link(rel='stylesheet' href='css/reset.css')
		link(rel='stylesheet' href='css/fonts.css')
		link(rel='stylesheet' href='css/media.css')
		link(rel='stylesheet' href='css/styles.css')