mixin newsBlock()
	.newsBlock
		- for (var x = 0; x < 3; x++) 
				.newsItem
					span.date 28 Января
					p Деятельность нашей компании застрахована в компании 
						b "КРК Страхование"
						| ! 
					p Гражданская ответственность Компании, связанная с осуществлением сделок с недвижимостью, застрахована на сумму 100 млн рублей!	
		p 
			a.viewAll смотреть все